* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background-color: black;
  --decorating-color: rgb(146, 129, 204);
}

@keyframes bounce {
  0% {
    top: 100px;
    -webkit-animation-timing-function: ease-in;
  }
  40% {
  }
  50% {
    top: 140px;
    height: 140px;
    -webkit-animation-timing-function: ease-out;
  }
  55% {
    top: 200px;
    height: 120px;
    -webkit-animation-timing-function: ease-in;
  }
  65% {
    top: 120px;
    height: 140px;
    -webkit-animation-timing-function: ease-out;
  }
  95% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  100% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
}

@font-face {
  font-family: 'Extra-light';
  src: url(/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: 'Light';
  src: url(/fonts/Poppins-Light.ttf);
}

body {
  background-color: rgba(237, 232, 243, 0.938);
}

p {
  padding: 20px;
}

h1,
h2,
a,
p,
table th,
button,
footer {
  color: white;
  text-align: center;
  font-family: 'Light';
}

.quotes,
table td {
  font-family: 'Extra-light';
}

.days_generator,
.navigation,
.highlights,
.full_match,
.random_quotes,
.highlights,
.full_match,
.video_rules,
.video_tips {
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  border: 2px solid whitesmoke;
  background-color: var(--background-color);
  color: white;
}

.days_generator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  height: 250px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in;
}

.box.top {
  width: 100%;
  height: 60px;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.box.center {
  background-color: var(--decorating-color);
  width: 50%;
  height: 75px;
  border-radius: 10px;
  font-size: 2.8rem;
}

.box.center:hover {
  transform: scale(1.3);
}

.volleyball_image1 {
  position: absolute;
  top: 130px;
  right: 25px;
}

.volleyball_image2 {
  position: absolute;
  top: 130px;
  left: 25px;
}

.volleyball_image1 img,
.volleyball_image2 img {
  height: 80px;
  width: 80px;
  animation: bounce 1s;
  transform: translateY(5px);
}

.random_quotes {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.quotes {
  padding: 10px;
}

button {
  margin-top: 10px;
  background-color: var(--decorating-color);
  color: white;
  text-decoration: none;
  font-size: 1rem;
  width: 60%;
  height: 40px;
}

.navigation,
.highlights,
.full_match,
.video_rules,
.video_tips {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.navigation,
.highlights,
.full_match {
  padding: 30px;
}

.navigation {
  background-color: var(--decorating-color);
}

.players_link,
.highlights_link,
.full_match_link {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.players_link {
  font-size: 1.7rem;
  width: 150px;
  height: 50px;
  color: black;
}

.navigation a:hover {
  color: white;
  transition: 0.3s;
}

.highlights a:hover,
.full_match a:hover {
  color: var(--background-color);
  transition: 0.3s;
}

.highlights_link,
.full_match_link {
  background-color: var(--decorating-color);
  width: 220px;
  height: 40px;
  color: white;
}

.video_rules h2,
.video_tips h2 {
  font-size: 1.1rem;
}

iframe {
  width: 100%;
  height: 100%;
  border: 2px solid var(--decorating-color);
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: white;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .box.top {
    font-size: 2.7rem;
  }

  .volleyball_image1 {
    top: 130px;
    right: 55px;
  }

  .volleyball_image2 {
    top: 130px;
    left: 55px;
  }

  .volleyball_image1 img,
  .volleyball_image2 img {
    width: 120px;
    height: 120px;
  }

  .bottom_section {
    display: flex;
  }
  .highlights,
  .full_match {
    flex: 50%;
  }
  .video_rules,
  .video_tips {
    height: 400px;
  }

  .video_rules h2,
  .video_tips h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .volleyball_image1 {
    top: 100px;
    right: 55px;
  }

  .volleyball_image2 {
    top: 100px;
    left: 55px;
  }

  .volleyball_image1 img,
  .volleyball_image2 img {
    width: 160px;
    height: 160px;
  }

  .middle_section {
    display: flex;
  }

  .random_quotes,
  .navigation {
    display: flex;
    flex: 50%;
    justify-content: center;
  }

  .videos,
  .video_rules,
  .video_tips {
    display: flex;
    flex: 50%;
  }
}
