* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
  color: white;
}

.days_generator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-direction: column;
  height: 300px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: 1s;
}

.box.bottom {
  width: 100%;
  height: 60px;
  font-size: 2rem;
  color: white;
}

.box.center {
  background-color: aquamarine;
  width: 55%;
  height: 100px;
  border-radius: 10px;
  font-size: 2.8rem;
  border: 2px solid black;
  color: black;
}

.box.center:hover {
  transform: scale(1.5);
}

.volleyball_image1 {
  position: absolute;
  top: 70px;
  right: 0;
}

.volleyball_image2 {
  position: absolute;
  top: 70px;
  left: 0;
}

.navigation,
.highlights,
.full_match {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  gap: 20px;
}

.full_match {
  padding-bottom: 30px;
}

.navigation,
.highlights {
  margin-bottom: 30px;
}

.players_link,
.highlights_link,
.full_match_link {
  width: 100px;
  height: 40px;
  background-color: aquamarine;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.highlights_link,
.full_match_link {
  width: 200px;
  height: 40px;
  background-color: aquamarine;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.bottom_section,
.bottom_section h2 {
  background-color: white;
  color: black;
}

.players_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 20px;
}

.players_wrapper img {
  width: 100%;
  margin-bottom: 20px;
}

.players_wrapper table {
  width: 100%;
  height: 50px;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px white;
  text-align: center;
  background-color: rgb(91, 126, 93);
  margin-bottom: 30px;
  margin-top: 30px;
}

.main table th,
.main table td {
  border: 2px solid white;
  color: white;
  padding: 5px;
}

h1,
h2 {
  color: white;
  text-align: center;
}

.about_header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.about_header.about_svg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about_header.about_h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 100px;
  height: 50px;
  color: white;
}
