* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

nav {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  margin: 10px;
}

.players {
  width: 200px;
  height: 40px;
  background-color: aqua;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.days_generator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-direction: column;
}

.box.top,
.box.bottom {
  background-color: blue;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box.center {
  background-color: blue;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
